{% extends "base.html" %}
{% block title %}<title>Milkshake</title>{% endblock %}
{% block content %}
<!-- <div>
    <h1>Cadastrar Milkshake</h1>
    <form action="{{ url_for('insert_milk') }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br>
        <label for="sabor">Sabor:</label>
        <input type="text" id="sabor" name="sabor" required><br>
        <label for="cobertura">Cobertura:</label>
        <input type="text" id="cobertura" name="cobertura" required><br>
        <label for="confeitos">Confeitos:</label>
        <input type="text" id="confeitos" name="confeitos" required><br>
        <label for="tamanho">Tamanho:</label>
        <input type="text" id="tamanho" name="tamanho" required><br>
        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco" required><br>
        <button type="submit">Cadastrar</button>
    </form>
</div> -->
<body class="container-fluid vh-100 d-flex align-items-center justify-content-center d-flex flex-column">
    <h2 class="display-6">Cadastrar MilkShake</h2>
    <form action="{{ url_for('edit_milk', uid=milkshake.uid) }}" method="post" class="d-flex flex-column w-50 d-flex align-items-center">
        <input type="hidden" name="acao" value="cadastrar">
        <div class="mb-3 w-50">
            <label for="isbn" class="form-label">Nome:</label>
            <input type="text" id="nome" name="nome" class="form-control" value="{{milkshake.nome}}" required>
        </div>
        <div class="mb-3 w-50">
            <label for="titulo" class="form-label">Sabor:</label>
            <input type="text" id="sabor" name="sabor" class="form-control" value="{{milkshake.sabor}}" required>
        </div>

        <div class="mb-3 w-50">
            <label for="autor" class="form-label">Cobertura:</label>
            <input type="text" id="cobertura" name="cobertura" class="form-control" value="{{milkshake.cobertura}}" required >
        </div>
        <div class="mb-3 w-50">
            <label for="genero" class="form-label">Confeitos:</label>
            <input type="text" id="confeitos" name="confeitos" class="form-control" value="{{milkshake.confeitos}}" required>
        </div>

        <div class="mb-3 w-50">
            <label for="ano_publicacao" class="form-label">Tamanho:</label>
            <input type="text" id="tamanho" name="tamanho" class="form-control" value="{{milkshake.tamanho}}" required>
        </div>

        <div class="mb-3 w-50"> 
            <label for="editora" class="form-label">Preço:</label>
            <input type="text" id="preco" name="preco" class="form-control" value="{{milkshake.preco}}" required>
        </div>
        <button type="submit" class="mt-4 btn btn-outline-primary w-25">Alterar Dados</button>
    </form>
</body>
{% endblock %}